body {
    background-color: #f2f2f2;
    font-family: sans-serif;
    color: #333333;
    max-width: 700px;
    margin: 8% 15%;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 64px;
    font-family: sans-serif;
    font-weight: 550;

}

.sub-title {
    font-size: 20px;
    margin-top: -20px;
    font-family: sans-serif;
    line-height: 1.8em;
    font-style: bold;
    
}

.downloads-list{
    font-size: 30px;
    list-style: none;
    text-decoration: none;
    padding: 0;
    width: 350px;
}

.downloads-list li{
    padding-top: .5em;
    overflow: hidden;
    font-weight: 100
}

.downloads-list li::after{
    content: "";
    display: block;
    margin-top: 5px;
    border-bottom: 1px solid #000000;
    padding-top: .5rem;
}

.links {
    text-decoration: none;
    font-size: 20px;
    color: #000000;
}

.links:hover{
    color: #126dff;
    transition: 0.5s;
}

.btn-container{
    display: flex;
    flex-basis: auto;
    justify-content: center;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.btn-text {
    margin-right: 55%;
}

.btn-icon {
    width: 1px
}